My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -176,
        608
      ],
      "id": "e7bf7067-7b76-46cb-9824-234dc9ef664a",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "MS04UYE8aIqkhY2s",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -688,
        80
      ],
      "id": "eafec53d-f5d9-444e-95c6-33bab45c44ad",
      "name": "When chat message received",
      "webhookId": "b1aa0eb1-adf0-4261-a600-97fa3cf61e2a"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -608,
        352
      ],
      "id": "2d6a3d21-4de0-46bd-93e3-6422624463e9",
      "name": "OpenRouter Chat Model",
      "notesInFlow": false,
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "openRouterApi": {
          "id": "o23gdm9LxDKjjL63",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "node fails (e.g., wrong email, API down)."
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        240,
        528
      ],
      "id": "6b29d5a6-c7c1-4f1e-ade1-c7c14efba50d",
      "name": "Calculator",
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful AI assistant with access to search, calculator, email, and spreadsheet tools. When triggered by the Schedule Trigger (no chatInput), automatically search for 'n8n automation tips' using SerpAPI, summarize the top results, and email the summary to kolwalerohan8@gmail.com. When triggered by chat, respond to the user's message."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -192,
        128
      ],
      "id": "840e853a-ee9c-4317-8236-d2bb8f31a9db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "\"Use this tool to send emails, reply to messages, or search for information in my inbox.\" ",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        48,
        624
      ],
      "id": "15673fbb-dac1-425b-8c96-4dc2d88daecb",
      "name": "Send a message in Gmail",
      "webhookId": "71f1957b-11ef-43de-bedd-d4fc87d88249",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysKLd5Ml05YdTMDE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 20,
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -160
      ],
      "id": "fbbb4255-cd18-4887-8f53-5adc2d903a31",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "\"Use this tool to save information, summaries, or research notes into a permanent log. You must provide the 'Date', 'Topic', and 'Summary'.\"",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19_t3yAdJnTUQC7EoOngyoMDe-2pnFerZ7bnYS8eoDVc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19_t3yAdJnTUQC7EoOngyoMDe-2pnFerZ7bnYS8eoDVc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}",
            "Topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Topic', ``, 'string') }}",
            "Summary": "={{ $fromAI('Summary', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        432,
        384
      ],
      "id": "a218c2f9-bfea-48a6-89a2-4842ad4f22fa",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3WknosiSEYIrzBFI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.sessionId || 'default-session' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -416,
        528
      ],
      "id": "5276f5ae-8fd6-4e01-9cb0-6b7f4618eac3",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a4d7428e-b534-4044-9ee8-749b2af5c034",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3412b8005027dd5236a9b1561abedfaf31b2c66be8890dd69e69b8a4ff24f213"
  },
  "id": "myHWO3txZ53lYpbd",
  "tags": []
}